/* ESTILOS GENERALES */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #01303f;
    font-weight: 400;
    color: #02a9f7;
}

a {
    text-decoration: none;
    color: #02a9f7;
}

h2 {
    display: block;
    text-align: center;
}


/* ESTILOS PAGINA INDEX */
/* NAVIGATION */
.navbar {
    background: #01303f;
    color: #02a9f7;
}

.navbar .container-fluid .navbar-brand img {
    width: 80px;
}

.navbar .container-fluid a{
    color: #02a9f7;
}

.navbar-nav .nav-item a {
    color: #02a9f7;
}


/* MAIN CONTENT */
.container {
    background: #01303f;
    color: #02a9f7;
}


/* ARTICLES */

.card-img-top {
    width: 100px;
}

/* FOOTER */

.footer-container {
    background: #001218;
    color: #02a9f7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.footer-section-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer-section img {
    width: 100px;
}



/* ESTILOS PAGINA CUENTA */
/* FORMULARIO DE LOGIN */

/* .container-form form{
    background: #01303f;
    color: #02a9f7;
}

.container-form h1{
    background: #01303f;
    color: #02a9f7;
}

.container-form form .mb3 input,
.container-form form .mb3 label {
    background: #01303f;
    color: #02a9f7;
} */




/* RESPONSIVE-PAGE */

@media (max-width: 1400px) {
    
    .footer-container {
        flex-direction: column;
        gap: 0;
    }

    .footer-section-icons {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    
}